*
{
    margin: 0;
    padding: 0;
    box-sizing: s;
}

body
{
    background-color: #0a2a43;
    min-height: 1500px;
}

section
{
    position: relative;

    /* 横向占满整个窗口，竖向占据当前视觉窗口的全部高度 */
    width: 100%;
    height: 100vh;

    /* 隐藏任何超出 section 部分的内容 */
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

section img
{
    /* 注意这里是 absolute，使得所有图片可以自由堆叠，从而实现视差效果 */
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* 确保图像在保持其宽高比的同时，完全覆盖容器，如果图像和容器的比例不一致，图像会被裁剪，但不会出现留白 */
    object-fit: cover;

    /* 禁用鼠标对这些图像图层的响应，如防止鼠标悬停或点击 */
    pointer-events: none;
}

/* 创建了一个从底部向上渐变的遮罩，主要目的是使前景元素与背景颜色平滑融合，消除突兀的边缘 */
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;

    /* 从最底部开始，到向上 100px 的范围内，创建一个渐变色，用于消除底部与背景之间的不自然过渡 */
    /* 作用范围由 bottom、width 和 height 共同决定 */
    background: linear-gradient(to top, #0a2a43, transparent);

    z-index: 10000;
}

section::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a2a43;
    z-index: 10000;

    /* 主要是用于混合不同图层的颜色，就像给整个场景加上了一个指定颜色的滤镜 */
    /* 如果不加上这行，整个画面会被 ::after 伪元素所完全覆盖，看不到下方的图片 */
    mix-blend-mode: color;
}

#text
{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}

#road
{
    z-index: 2;
} 
